<form method="POST">
  <div class="row">
    <div class="col-md-12">
      <h2>Proposing changes to <a href="https://github.com/<%= document.repo.nwo %>"><%= document.repo.nwo %></a> / <a href="https://github.com/<%= document.repo.nwo %>/blob/<%= document.repo.default_branch %>/<%= document.path %>"><%= document.path %></a></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea id="content" name="content"><%= document.contents %></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 guest">
      <div class="form-group">
        <input type="text" id="name" name="name" class="form-control" value="<%= %>" placeholder="Your name" />
        <button type="submit" class="btn btn-default" name="type" value="guest">Submit as a Guest</button>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="pick-me">
        ...or <button class="btn btn-primary" type="submit" name="type" value="github">
          <% if user %>
            submit as @<%= user.login %>
          <% else %>
            log in with GitHub and submit
          <% end %>
        </button> to recieve updates
      </div>
    </div>
  </div>
</form>
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
    mode: 'markdown',
    lineNumbers: true,
    theme: "default",
    extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"}
  });
</script>
