<p id="notice"><%= notice %></p>

<p>
  <strong>Repository:</strong>
  <%= @document.repository_id %>
</p>

<p>
  <strong>Path:</strong>
  <%= @document.path %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
