<p id="notice"><%= notice %></p>


<%= bootstrap_form_tag({url: redline_path, method: "put"}) do |f| %>

<%= f.text_area :contents, value: @redline.document.contents %>

<%= f.text_field :commit_msg %>

Editing as <%= @redline.user.name %>

  <% if user_signed_in? %>
    (@<%= @redline.user.login %>)
  <% else %>
    <button class="btn">Log in with GitHub</button>
  <% end %>

<%= f.submit %>

<% end %>

<%= @redline.document.client.pullable?.inspect %>
